[submodule "Plugins/UROSWorldControl"]
	path = Plugins/UROSWorldControl
	url = https://github.com/urobosim/UROSWorldControl.git
[submodule "Plugins/UTFPublisher"]
	path = Plugins/UTFPublisher
	url = https://github.com/urobosim/UTFPublisher.git
[submodule "Plugins/UROSBridge"]
	path = Plugins/UROSBridge
	url = https://github.com/urobosim/UROSBridge.git
